@model IEnumerable<FeedingTime.Models.Animal>

@{
    ViewData["Title"] = "Index";
}


<style>
    
    table{
        background-color:#e68317;
    }

</style>


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeOfAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalCheckup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @if (Model.Count() == 0)
        {
                <tr class="alert-danger"> 
                    <td colspan="7">no result found...</td>
            </tr>
        }
        else
        {



@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeOfAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRegistered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalCheckup)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnimalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimalID">Delete</a>
            </td>
        </tr>
}
        }
    </tbody>
</table>
